<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
	
		<div th:replace="~{fragment :: styles}"></div>
	
		<title>マイページ</title>
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<!--ヘッダー-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11">
							
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb p-3 bg-light rounded-2">
									<li  class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item active" aria-current="page">マイページ</li>
								</ol>
							</nav>
							
							<h1 class="mb-4 text-center">マイページ</h1>
							
							<div class="d-flex justify-content-end mt-3">
								<div>
									<a th:href="@{/user/edit}">編集</a>
								</div>
							</div>
							
							<div th:if="${successMessage}" class="alert alert-success">
								<span th:text="${successMessage}"></span>
							</div>
							
							<div class="container mb-4">
								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">氏名</span>
									</div>
									<div class="col-8">
										<span th:text="${user.name}"></span>
									</div>
								</div>
								
								<div class="row pb-2 mb-2 border-bottom">
									<div  class="col-4">
										<span class="fw-bold">フリガナ</span>
									</div>
									<div class="col-8">
										<span th:text="${user.furigana}"></span>
									</div>
								</div>
								
								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">メールアドレス</span>
									</div>
									<div class="col-8">
										<span th:text="${user.email}"></span>
									</div>
								</div>
							</div>
							
							<div class="d-flex justify-content-center mt-3">
								<div sec:authorize="hasRole('ROLE_FREE_MEMBER')">
									<a th:href="@{/subscription/register}">有料プラン登録はこちら</a>
								</div>
								
								<div sec:authorize="hasRole('ROLE_PAID_MEMBER')">
									<a th:href="@{/subscription/edit}">お支払方法の変更はこちら</a>
								</div>
							</div>
							
							<div class="d-flex justify-content-center mt-3">							
								<div sec:authorize="hasRole('ROLE_PAID_MEMBER')">
									<a th:href="@{/subscription/cancel}">有料プランの解約はこちら</a>
								</div>
							</div>
								
						</div>
					</div>
				</div>
			</main>
			
			<!--フッター-->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>